/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

:root [data-theme='skeleton'] {
	--theme-font-family-base: 'Fira Sans', 'Gamja Flower', sans-serif;
	--theme-font-family-heading: 'Fira Sans', 'Gamja Flower', sans-serif;
}

.modal-backdrop {
	backdrop-filter: blur(4px);
}
